In [6]:
import pandas as pd
import numpy as np

In [13]:
food = pd.read_csv('/Users/rahulbaid/Downloads/FoodData_Central/branded_food.csv', header=0)
food.head()

/var/folders/8g/fr799mss32l7s7t1l915gvdw0000gn/T/ipykernel_20048/3254916150.py:1: DtypeWarning: Columns (2,3,4,6,12,16,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv('/Users/rahulbaid/Downloads/FoodData_Central/branded_food.csv', header=0)

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,...,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description,material_code
0,1105904,Richardson Oilseed Products (US) Limited,NaN,NaN,27000612323,Vegetable Oil,NaN,15.0,ml,1 Tbsp (15 ml),...,GDSN,NaN,2020-10-02,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
1,1105905,CAMPBELL SOUP COMPANY,NaN,NaN,51000198808,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",NaN,240.0,ml,Amount per serving,...,GDSN,NaN,2020-09-12,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
2,1105906,CAMPBELL SOUP COMPANY,NaN,NaN,51000213273,"INGREDIENTS: CLAM STOCK, POTATOES, CLAMS, CREA...",NaN,440.0,g,PER CONTAINER,...,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
3,1105907,CAMPBELL SOUP COMPANY,NaN,NaN,51000213303,"INGREDIENTS: WATER, CREAM, BROCCOLI, CELERY, V...",NaN,440.0,g,PER CONTAINER,...,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN
4,1105908,CAMPBELL SOUP COMPANY,NaN,NaN,51000224637,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",NaN,240.0,ml,Amount per Serving,...,GDSN,NaN,2020-10-03,2020-11-13,United States,NaN,NaN,NaN,NaN,NaN

In [14]:
description = pd.read_csv('/Users/rahulbaid/Downloads/FoodData_Central/food.csv', header=0)
description.head()

/var/folders/8g/fr799mss32l7s7t1l915gvdw0000gn/T/ipykernel_20048/2459148569.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  description = pd.read_csv('/Users/rahulbaid/Downloads/FoodData_Central/food.csv', header=0)

,fdc_id,data_type,description,food_category_id,publication_date,market_country,trade_channel,microbe_data
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
4,1105908,branded_food,SWANSON BROTH CHICKEN,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."

In [15]:
# Merge the two dataframes on the 'fdc_id' column
merged_df = pd.merge(food, description, on='fdc_id', how='inner')
merged_df.size

55367144

In [16]:
merged_df.columns

Index(['fdc_id', 'brand_owner', 'brand_name', 'subbrand_name', 'gtin_upc',
       'ingredients', 'not_a_significant_source_of', 'serving_size',
       'serving_size_unit', 'household_serving_fulltext',
       'branded_food_category', 'data_source', 'package_weight',
       'modified_date', 'available_date', 'market_country_x',
       'discontinued_date', 'preparation_state_code', 'trade_channel_x',
       'short_description', 'material_code', 'data_type', 'description',
       'food_category_id', 'publication_date', 'market_country_y',
       'trade_channel_y', 'microbe_data'],
      dtype='object')

In [17]:
merged_df = merged_df.drop_duplicates(subset=['ingredients', 'description', 'brand_name'])
merged_df = merged_df.drop_duplicates(subset='fdc_id')
merged_df = merged_df.drop_duplicates(subset='gtin_upc')

In [18]:
# remove rows with NaN values in 'ingredients' or 'description'
merged_df = merged_df.dropna(subset=['ingredients', 'description', 'fdc_id', 'gtin_upc'])

In [19]:
merged_df.fdc_id.nunique() == merged_df.shape[0]

True

In [20]:
merged_df.branded_food_category.value_counts()

branded_food_category
Candy                                          28649
Popcorn, Peanuts, Seeds & Related Snacks       27726
Cheese                                         22669
Ice Cream & Frozen Yogurt                      18009
Cookies & Biscuits                             17422
                                               ...
Fresh Chicken - Portions                           1
Wrapped Snacks - Fruit Bars                        1
Cakes/Slices/Biscuits                              1
Ice-Cream/Block Single                             1
Baking/Cooking Mixes/Supplies Variety Packs        1
Name: count, Length: 388, dtype: int64

In [21]:
# Remove rows with 'branded_food_category' where its count is less than 5
merged_df = merged_df[merged_df['branded_food_category'].map(merged_df['branded_food_category'].value_counts()) >= 5]

In [22]:
merged_df.shape[0]

555150

In [23]:
# Keep only the relevant columns
relevant_columns = [
    'fdc_id', 'gtin_upc', 'description', 'brand_owner', 'brand_name', 'ingredients',  'branded_food_category'
]
merged_df = merged_df[relevant_columns]

In [24]:
# Remove 'INGREDIENTS' from 'ingredients' column
merged_df['ingredients'] = merged_df['ingredients'].str.replace('INGREDIENTS:', '', regex=False).str.strip()

In [25]:
# convert all string columns to lowercase
string_columns = ['description', 'brand_owner', 'brand_name', 'ingredients', 'branded_food_category']
for col in string_columns:
    merged_df[col] = merged_df[col].str.lower().fillna('')

In [26]:
merged_df.gtin_upc = merged_df.gtin_upc.fillna('')

In [21]:
# Save the cleaned DataFrame to a new CSV file
merged_df.to_csv('products.csv', index=False)

In [27]:
# add a new column 'source' with the value 'usda'
merged_df['source'] = 'usda'

In [28]:
merged_df.head()

,fdc_id,gtin_upc,description,brand_owner,brand_name,ingredients,branded_food_category,source
0,1105904,27000612323,wesson vegetable oil 1 gal,richardson oilseed products (us) limited,,vegetable oil,oils edible,usda
1,1105905,51000198808,swanson broth beef,campbell soup company,,"beef stock, contains less than 2% of: mirepoix...",herbs/spices/extracts,usda
2,1105906,51000213273,campbell's slow kettle soup clam chowder,campbell soup company,,"clam stock, potatoes, clams, cream, vegetable ...",prepared soups,usda
3,1105907,51000213303,campbell's slow kettle soup cheese broccoli,campbell soup company,,"water, cream, broccoli, celery, vegetable oil ...",prepared soups,usda
4,1105908,51000224637,swanson broth chicken,campbell soup company,,"chicken stock, contains less than 2% of: yeast...",herbs/spices/extracts,usda

In [29]:
# Add a new 'created_at' column with the current date
from datetime import datetime
merged_df['created_at'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [186]:
CHUNK_SIZE = 200_000
# Split the DataFrame into chunks and save each chunk to a separate CSV file
for i in range(0, len(merged_df), CHUNK_SIZE):
    chunk = merged_df.iloc[i:i + CHUNK_SIZE]
    chunk.to_csv(f'products_chunk_{i // CHUNK_SIZE}.csv', index=False)

In [18]:
merged_df = pd.read_csv('products.csv', header=0)

/var/folders/8g/fr799mss32l7s7t1l915gvdw0000gn/T/ipykernel_20401/1473317525.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv('products.csv', header=0)

In [20]:
merged_df.drop(columns='created_at', inplace=True)

In [3]:
nutrient = pd.read_csv('/Users/rahulbaid/Downloads/FoodData_Central/food_nutrient.csv', header=0)

FileNotFoundError: [Errno 2] No such file or directory: '/Users/rahulbaid/Downloads/FoodData_Central/food_nutrient.csv'

In [4]:
nutrient.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13706927,1105904,1257,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN
1,13706930,1105904,1293,53.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN
2,13706926,1105904,1253,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
3,13706921,1105904,1092,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13706916,1105904,1008,867.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN

In [7]:
nutrient_meta = pd.read_csv('/Users/rahulbaid/Downloads/FoodData_Central/nutrient.csv', header=0)
nutrient_meta.head()

     id                               name unit_name  nutrient_nbr   rank
0  2047   Energy (Atwater General Factors)      KCAL         957.0  280.0
1  2048  Energy (Atwater Specific Factors)      KCAL         958.0  290.0
2  1001                             Solids         G         201.0  200.0
3  1002                           Nitrogen         G         202.0  500.0
4  1003                            Protein         G         203.0  600.0

In [4]:
# merge the nutrient data with nutrient_meta on 'nutrient_id' and 'id'
merged_nutrient = pd.merge(nutrient, nutrient_meta, left_on='nutrient_id', right_on='id', how='inner')[['fdc_id', 'nutrient_id','name', 'amount', 'unit_name' ]]
merged_nutrient.head()

NameError: name 'nutrient' is not defined

In [10]:
merged_nutrient.shape[0]

25652681

In [11]:
# remove rows with NaN values in 'amount' or 'unit_name'
merged_nutrient = merged_nutrient.dropna(subset=['amount', 'unit_name'])
merged_nutrient = merged_nutrient.drop_duplicates(subset=['fdc_id', 'nutrient_id'])
merged_nutrient.shape[0]

25650304

In [31]:
# remove rows with 'amount' less than or equal to 0
merged_nutrient = merged_nutrient[merged_nutrient['amount'] > 0]

In [32]:
# keep only those fdc_id which are present in the merged_df
merged_nutrient = merged_nutrient[merged_nutrient['fdc_id'].isin(merged_df['fdc_id'])]
merged_nutrient.shape[0]

4711935

In [16]:
merged_nutrient = pd.read_csv('nutrients.csv', header=0)
# add created_at column
# merged_nutrient['created_at'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')
merged_nutrient.head()

    fdc_id  nutrient_id                                name  amount unit_name
0  1105904         1293  Fatty acids, total polyunsaturated   53.33         G
1  1105904         1008                              Energy  867.00      KCAL
2  1105904         1258        Fatty acids, total saturated   13.33         G
3  1105904         1292  Fatty acids, total monounsaturated   20.00         G
4  1105904         1004                   Total lipid (fat)   93.33         G

In [15]:
# save the cleaned nutrient DataFrame to a new CSV file
merged_nutrient.to_csv('nutrients.csv', index=False)